.A-Travel{
    height: 335px;
   
    h1{
        position: absolute;
        color: white;
        font-size: 3.3em;
        font-weight: 600;
        margin-left: 8em;
        margin-top: 3em;
    }
    h6{
        color: white;
        font-weight: 300;
        position: absolute;
        margin-top: 16em;
        font-size: 15px;
        margin-left: 33em;
        i{
            font-size: 17px;
            padding: 0px 10px;
        }
    }

    .overflow {
      
        height: 335px;
       
    }
}
