//Header Class with Navbar//

.header {
    .col-md-12 {
        background: rgba(255, 255, 255, 0.15);
        padding: 20px 15px;
        position: sticky;
        top: 0;
        z-index: 9999;

        .logo {
            display: inline-block;
        }

        nav {
            position: absolute;
            right: 0;
            padding: 5px;
            font-size: 12px;
            font-weight: 500;
            margin-right: 11em;

            ul {
                float: right;

                li {
                    padding: 0px 11px;
                    display: inline;

                    a {
                        color: #fff;
                        transition: 0.3s;

                        i {
                            padding: 0px 5px;
                            font-size: 9px;
                        }
                    }

                    :hover {
                        color: #f8b600;
                        transition: 0.3s
                    }
                }
            }
        }

        .Blog-Childs {
            position: absolute;
            right: 0;
            margin-right: 20em;
            margin-top: 50px;
            background-color: #fff;
            width: 12em;
            z-index: 999;
            display: none;

            ul {
                padding: 9px 5px;
                margin: 0px;

                li {
                    padding: 6px 10px;
                    font-size: 13px;

                    a {
                        color: rgb(0, 0, 0);
                    }
                }
            }
        }

        .Pahes-Childs {
            margin-right: 15em;
            margin-top: 50px;
        }
    }
}

//Section-Intro//

.H-Travel {
    background-image: url("https://colorlib.com/preview/theme/travel/img/hero-bg.jpg");
    background-size: cover;
    height: 720px;
    background-repeat: no-repeat;

    .overflow {
        background: rgba(4, 9, 30, 0.4);
        width: 100%;
        height: 720px;
        position: absolute;
    }

    .header-left {
        ul {
            display: flex;
            font-size: 13px;
            margin: 0px;

            li {
                padding: 7px 26px 7px 0px;

                a {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 300;
                    transition: 0.3s
                }

                :hover {
                    color: #f8b600;
                    transition: 0.3s
                }
            }
        }
    }

    .header-social {
        float: right;
        margin: 7px 0px;


        a {
            color: #fff;
            font-size: 11px;
            transition: 0.3s;
            margin-left: 15px;
        }

        :hover {
            color: #f8b600;
            transition: 0.3s
        }
    }

    .col-md-12 {
        background: rgba(255, 255, 255, 0.15);
        padding: 20px 15px;
        position: sticky;
        top: 0;
        z-index: 9999;
        margin-top: -4px;

        .logo {
            display: inline-block;
        }

        nav {
            position: absolute;
            right: 0;
            padding: 5px;
            font-size: 13px;
            font-weight: 500;

            ul {

                float: right;

                li {
                    padding: 0px 11px;
                    display: inline;

                    a {
                        color: #fff;
                        transition: 0.3s;
                        font-size: 12px;

                        i {
                            padding: 0px 5px;
                            font-size: 9px;
                        }
                    }

                    :hover {
                        color: #f8b600;
                        transition: 0.3s
                    }
                }
            }
        }

        .Blog-Childs {
            position: absolute;
            right: 0;
            margin-right: 11em;
            margin-top: 50px;
            background-color: #fff;
            width: 12em;
            z-index: 999;
            display: none;

            ul {
                padding: 9px 5px;
                margin: 0px;

                li {
                    padding: 6px 10px;
                    font-size: 13px;

                    a {
                        color: rgb(0, 0, 0);
                    }
                }
            }
        }

        .Pahes-Childs {
            margin-right: 6em;
            margin-top: 50px;
        }
    }

    .col-7 {
        color: #fff;

        .header-info {
            margin-top: 6em;

            h6 {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 3px;
            }

            h1 {
                font-size: 60px;
                font-weight: 600;
                margin: 20px 0px;
            }

            p {
                font-size: 14px;
                font-weight: 300;
            }

            button {
                background: #f8b600;
                border: solid #f8b600;
                padding: 5px 26px;
                font-size: 14px;
                color: #fff;
                transition: 0.3s;
                outline: none;
                cursor: pointer;

                &:hover {
                    background: #222;
                    border: solid #222;
                    transition: 0.3s;
                }
            }
        }
    }

    .col-5 {
        .for-forms {
            margin-top: 10%;
            float: right;

            ul {
                display: flex;
                margin: auto;
                font-size: 14px;
                font-weight: 600;

                li {
                    padding: 9px 13px;
                    background: rgba(255, 255, 255, .25);

                    a {
                        color: #fff;
                    }
                }
            }
        }

        .f-main {
            width: 21em;
            padding: 28px;
            background-color: #fff;

            input {
                margin: 7px 0px;
                height: 40px;
                border: 1px solid #edeff0;
                padding: 10px;
                font-size: 13px;
                outline: none;
            }

            button {
                background: #f8b600;
                line-height: 42px;
                padding-left: 30px;
                padding-right: 30px;
                border: none;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                width: 66%;
                margin: auto;
                cursor: pointer;
                margin-bottom: 17px;

                a {
                    color: #fff;
                }
            }
        }
    }
}

//Section for Destinations//

#Destinations {
    margin: 120px 0 160px;

    .des-text {
        text-align: center;
        margin-bottom: 80px;
      
        h1 {
            color: #222222;
            font-size: 36px;
            margin-bottom: 10px;
            font-weight: 600;
        }

        p {
            color: #777777;
            font-size: 14px;
            font-weight: 300;
        }
    }

    .d-flex{
        .col-4{
            .imgs {

                position: relative;

                .overflofding {
                    background-color: rgba(71, 70, 70, 0.452);
                    width: 100%;
                    height: 200px;
                    position: absolute;
                    display: none;
                    text-align: center;
                    padding-top: 50px;

                    a {
                        background: #f8b600;
                        text-align: center;
                        color: #222;
                        padding: 6px 30px;
                        font-size: 14px;
                        font-weight: 600;
                        display: inline-block;
                        margin: 10px;
                        transition: all 0.3s ease 0s;
                    }
                }

                img {
                    width: 100%;
                }
                
                &:hover{
                    .overflofding {
                        display: block;
                    }
                }

                .imgs-info {
                    margin-top: -6em;
                    text-align: center;
                   
                    h4 {
                        color: white;
                        font-size: 18px;
                        font-weight: 600px;
                    }
            
                    p {
                        color: white;
                        font-size: 14px;
                    }
                }  
            }
        }
    }
}

//Section for Prices//

#Prices {
    padding: 120px 0;
    background-image: url(../images/price-bg.png);

    .pr-text {
        text-align: center;
        margin-bottom: 100px;

        h1 {
            color: #222222;
            font-size: 36px;
            margin-bottom: 10px;
            font-weight: 600;
        }

        p {
            color: #777777;
            font-size: 14px;
            font-weight: 300;
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        .col-4 {
            padding: 30px;
            flex: 33.3%;
            padding-right: 15px;
            padding-left: 15px;
            position: relative;
            width: 100%;
            min-height: 1px;
            max-width: 33.3%;

            .price-info {
                padding: 0px 20px;
                margin: 0px 1px;
                height: 25em;
                background-color: white;

                .price-info-spesificSizeHeader {
                    margin-top: 30px;
                     margin-bottom: 10px;
                }

                .price-info-spesificSizeBody {
                    margin-bottom: 10px;
                }

                h4 {
                color: #222222;
                text-align: center;
                border-bottom: 1px solid #f8b600;
                margin-bottom: 8px;
                font-size: 18px;
                font-weight: 600;
                padding: 22px 0px;

                }
    
                p {
                color: #777777;
                font-size: 14px;
                font-weight: 300;
                }
    
                a {
                background: #f9f9ff;
                border: 1px solid #eee;
                color: #222;
                font-size: 14px;
                font-weight: 600;
                padding: 5px 20px;
                transition: all 0.3s ease 0s;
                }
    
                a:hover {
                border-color: #f8b600;
                background: #f8b600;
                color: #fff;
                }
        
            }
        }
    }
}

//Section for all additional Issues//

#Issues {
    padding: 120px 0;

    .is-text {
        text-align: center;
        margin-bottom: 100px;

        h1 {
                color: #222222;
                font-size: 36px;
                margin-bottom: 10px;
                font-weight: 600;
        }
    
        p {
            color: #777777;
            font-size: 14px;
            font-weight: 300;
        }
    }

    .col-3 {
        max-width: 25%;
        padding-right: 15px;
        padding-left: 15px;

        .Issues-info{
            .img {
                width: 100%;
                height: 160px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    transition: 0.3s;
                }
            }
        
            img:hover {
            transform: scale(1.08) rotate(-3deg);
            }

            h4 {
                margin: 20px 0;
                font-size: 18px;
                transition: all 0.3s ease 0s;
            }

            h4:hover {
                cursor: pointer;
            }

            p {
                color: #777777;
                font-size: 14px;
                font-weight: 300;
            }   

        }   
            
            &:hover {
                color: #f8b600;
            }

    }
}

//Section for Testimonials//

#Testimonial {
    padding: 40px 0;
    background: #f9f9ff;

    .formarg {
        margin: 60px -15px;
    }

    .fortxt {
        color: rgb(121, 120, 120);
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        margin-bottom: 70px;

        h1 {
            color: #222;
            margin-bottom: 10px;
            margin-top: 0;
            font-size: 36px;
            font-weight: 600;
        }
    }

    .forslider {
        .s-img {
            box-sizing: border-box;

            img {
                width: 30px;
                height: 30px;
            }
        }

        p {
            color: #777;
            font-size: 14px;
        }

        h4 {
            font-size: 18px;
            font-weight: 600;
            transition: 0.3s ease all;
            cursor: pointer;

            &:hover {
                color: #f8b600 !important;
            }
        }

        .checkd {
            color: #f8b600;
        }

        .col-10 {
            padding: 0;
        }

        .mdiv {
            padding: 20px 27px;
            background-color: rgb(255, 255, 255);
        }

        .slider-item {
            margin: 0 16px;
        }
    }
}

//Section of Request//

.Request {
    display: block;

    .col-6 {
        text-align: left;

        img {
            width: 100%;
        }

        h1 {
            color: #222222;
            font-size: 20px;
            font-weight: 600;
            max-width: 500px;
            margin-left: 3.4em;
        }

        p {
            color: #777777;
            font-size: 14px;
            font-weight: 300;
            max-width: 500px;
            padding: 20px 0;
            margin-bottom: 15px;
            margin-left: 5em;
        }

        a {
            margin-top: 10px;
            background-color: #222;
            line-height: 42px;
            font-size: 14px;
            padding-left: 30px;
            padding-right: 30px;
            border: none;
            color: #fff;
            display: inline-block;
            font-weight: 500;
            transition: all 0.3s ease 0s;
            margin-left: 5.2em;
        }

        a:hover {
            background-color: #f8b600;
        }
    }
}

//Section for Blogs//

#Blog {
    height: 600px;
    margin: 150px 0;

    .fortxt {
        color: #777;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        margin-bottom: 70px;

        h1 {
            color: #222;
            margin-bottom: 10px;
            margin-top: 0;
            font-weight: 600;
        }
    }

    .forslider2 {
        .s-2 {
            width: 220px;
            margin-right: 30px;
            box-sizing: border-box;

            &:hover{
                img {
                    transform: scale(1.05);
                }
            }

            .imgsec {
                overflow: hidden;

                img {
                    width: 100%;
                    transition: 0.5s ease all;
                }
                margin-bottom: 20px;
            }

            .desck{
                .btns{
                    li {
                        transition: 0.4s ease all;
                        display: inline-block;
                        border: 1px solid #eee;
                        padding: 4px 12px;

                        &:hover {
                            background-color: #f8b600;

                            a {
                                color: white;
                            }
                        }

                        a {
                            font-weight: 400;
                            font-size: 12px;
                            color: #222;
                        }
                    }
                }

                a {
                    color: #222;
                    font-size: 18px;
                    font-weight: 600;
                    display: block;
                }

                p {
                    color: #777;
                    font-weight: 300;
                    font-size: 14px;
                }

                h6 {
                    color: #222;
                    font-weight: 300;
                }
            }
        }
    }
}



//Footer for all contact details//

Footer {
    display: block;
    background: #04091e;
    padding: 120px 0;
    padding-top: 100px;
    height: 33.5em;
    
    .col-3{
        .footerAbot-info {
            margin-left: 10px;
        }

        .footer-input{
            input {
                background-color: transparent;
                border: 1px solid rgba(82, 82, 82, 0.815);
                height: 46px;
                padding-left: 10px;
                font-size: 14px;
                font-weight: 300;
                color: white;
                width: 17em;
            }

            input[type=text] {
                padding-right: 50px;
            }

            a{
                i {
                    position: absolute;
                    margin-left: -49px;
                    background-color: #f8b600;
                    width: 49px;
                    height: 46px;
                    text-align: center;
                    padding-top: 14px;
                }
            }
        }
      
        .d-flex{
            ul{
                li {
                line-height: 2.5;
                }
            }
        }

        h6 {
            color: #fff;
            margin-bottom: 25px;
            font-size: 16px;
            font-weight: 600;
        }
    
        p {
            color: #777;
            font-weight: 300;
            font-size: 14px;
        }
    
        li {
            color: #777;
            font-weight: 300;
            font-size: 14px;
        }
    }

    hr {
       background-color: #777;
       margin-top: 2rem;
    }

    .socialNetwork {
        margin-top: 4em;

        p {
            font-weight: 300;
            color: grey;
            font-size: 14px;
            margin-left: 2em;

            span {
                color: #f8b600;
                cursor: pointer;
            }
        }

        ul {
            margin-right: 27px;
            float: right;

            li {
                padding: 0px 11px;
                display: inline;
                color: white;
                font-size: 12px;

                a {
                    color: #fff;
                    transition: 0.3s;

                    i {
                        padding: 0px 5px;
                        font-size: 9px;
                    }
                }

                :hover {
                    color: #f8b600;
                    transition: 0.3s
                }
            }
        }
    }
}


