.A-Travel{
    height: 335px;
   
    h1{
        color: white;
        font-size: 3.3em;
        font-weight: 600;
        margin-left: 9em;
        margin-top: 1em;
    }

    .overflow {
      
        height: 335px;
       
    }
}