* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

a:hover {
    text-decoration: none;
}


@import url('home.css');
@import url('about.css');
@import url('packages.css');
@import url('hotels.css');
@import url('insurence.css');
@import url('contact.css');